.proyectos{
  width: 100%;
  text-align: center;
  background-color: var( --bg-color);
  padding: 100px 0%;
}
.cards-contain{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  place-content: center;
  height: 100%;
  width: 100%;
  padding: 100px 10%;
  gap: 3rem;
  background-color: var( --bg-color);
 }

.card-projects{
    background-color: var( --card);
    width: 18rem;
    min-height: 20rem;
    border-radius: 14px;
    box-shadow: 0 2px 2px #1a1e25;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    text-align: center;
    align-content: center;
    justify-content: center;
   
}

.card-projects:hover {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.7);
    transition: all .40s ease;
   
}
.card-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-self: center;
}
.card-text p{
  color: var(--blanco);
  font-size: 13px;
  padding: 10px 5%;
}
.card-text h2{
  color: var(--blanco);
  font-size: 17px;
  padding-top: 10px;
}
.btns-card{
  display: flex;
  gap: 2rem;
  padding-top: 20px;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  
}

.btn-card-dep{
  text-decoration: none;
  border: none;
    width: 100px;
    background: linear-gradient(90deg, var(--morado)0%,var(--celeste) 120%);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--blanco);
    cursor: pointer;
}
.btn-card-git{
  text-decoration: none;
  border: 2px solid  var(--celeste);
  width: 100px;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  color: var(--blanco);
  cursor: pointer;
}
.btn-card-git:hover{
  background-color: var(--celeste);
}
  
 
  .card-projects img{
    width: 100%!important;
    height: 160px;
}

@media (max-width: 970px){
  .proyectos{
    padding: 120% 10%;
   }
  
}