.contain-hero{

display: flex;
justify-content: center;
align-items: center;
background-color: var(--bg-color);
background-image: url(../../../public/img/fondobody.png)!important;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100vh;
padding: 100px 0px;

}


.lenguajes{
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(110px, 3vh));
    padding-top: 10px; 
}
.leng{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.leng span{
    color: var(--second-color);
}
.contain-home{
    margin: auto;
    width: 100%;
    padding: 10% 13%;
    border-radius: 1em;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 6rem;
    height: 100%;
    place-content: center;
}
.icon{
    font-size: 20px;
    color: var(--second-color);
    
}

.mi-parrafo{
    width: 100%;
}

.btn-contact{
    border: none;
    width: 100px;
    background: linear-gradient(90deg, var(--morado)0%,var(--celeste) 120%);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--blanco);
    cursor: pointer;
    
}

.btn-cv{
    border: 2px solid  var(--celeste);
    width: 100px;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--blanco);
    cursor: pointer;
}

.btn-cv:hover{
   background-color: var(--celeste);
}
.btns{
    display: flex;
    gap: 2rem;
    padding-top: 20px;
    text-align: center;
    align-items: center;
    width: 100%;
}

.mi-parrafo{
    padding-top: 10px;
    font-size: 14px;
    color: var(--second-color);
    width: 100%;
}

.presentacion h1{
    font-size: 40px;
    color:var(--blanco);
    font-weight: 900;
}
.span span{
    font-size: 40px;
    color:var(--celeste)
}

.btn-about{
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: var(--celeste);
    cursor: pointer;
}



.arrow-icon {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: var(--celeste);
    cursor: pointer;
}
  

  

@media (max-width: 1024px){
    .contain-home{
        margin: auto;
        width: 100%;
       margin-top: 100px;
        border-radius: 1em;
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 6rem;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .btns{
        display: flex;
        gap: 2rem;
        padding-top: 20px;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .leng{
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
        padding: 0px 19%;
    }
    .btns{
        display: flex;
        gap: 2rem;
        padding-top: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    
   
}

@media (max-width: 500px){
    .presentacion h1{
        font-size: 30px;
        width: 100%;
        color:var(--blanco);
        font-weight: 900;
        padding: 10px 10%;
        margin-top: 100px;
    }
    .mi-parrafo{
        padding: 10px 10%;
        font-size: 14px;
        color: var(--second-color);
        width: 100%;
    }
    .leng {

        font-size: 13px;
    }
    .lenguajes{
        place-content: center;
    }
    .contain-home{
        margin: auto;
        width: 100%;
       margin-top: 100px;
        border-radius: 1em;
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 6rem;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
}

html::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    cursor: pointer;
      background-color: var(--bg-color);
 }
 
html::-webkit-scrollbar-thumb{
    background: linear-gradient(0deg, var(--morado)0%,var(--celeste) 120%);
     width: 10px;
     border-radius:20px ;
     cursor: pointer;
 }



 .presentacion {
    animation: slideFromLeft 1s ease-in-out forwards;
    -webkit-animation: slideFromLeft 1s ease-in-out forwards;
}

.codigo {
    /*Definelaposicióninicialyladuracióndelaanimación*/opacity: 0;
    animation: slideFromRight 1s ease-in-out forwards;
    -webkit-animation: slideFromRight 1s ease-in-out forwards;
}

@keyframes slideFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
}
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
        opacity: 0;
       
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
