.contain-about{
    margin: auto;
    width: 100%;
    padding: 0px 13%;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 6rem;
    height: 100vh;
    place-content: center;
    align-items: center;
    background-color: var(--bg-color);
    background-image: url(../../../public/img/fondobody.png)!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

.contain-about img{
    width: 80%;
}

.text-about{
    width: 100%;

}

.img-about{
    display: flex;
    align-items: center;
    align-content: center;
    justify-self: center;

}

.title-h2{
    color: var(--celeste);
    font-size: 33px;
}
.text-about p{
    color: var(--blanco);
    font-size: 14px;
}
.text-about span{
    color: var(--celeste);
}

@media (max-width: 1024px){
    
    .contain-about{
    padding-top: 70%;
    }
}

@media (max-width: 600px){
    
    .contain-about{
    padding-top: 100%;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 1rem;
  
    }
    .text-about {
        color: var(--blanco);
        font-size: 13px;
        padding: 0px 10%;
        text-align: center;
    }
    .contain-about img{
        width: 100%;
    }
    
}


@media (max-width: 500px){
    
    .contain-about{
    padding-top: 200%;
    }
}

.text-about {
    animation: slideFromLeft1 1s ease-in-out forwards;
    -webkit-animation: slideFromLeft1 1s ease-in-out forwards;
}

.img-about{
    /*Definelaposicióninicialyladuracióndelaanimación*/opacity: 0;
    animation: slideFromRight1 1s ease-in-out forwards;
    -webkit-animation: slideFromRight1 1s ease-in-out forwards;
}

@keyframes slideFromLeft1 {
    from {
        opacity: 0;
        transform: translateX(-100%);
}
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromRight1 {
    from {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


