:root{
    --text-color: #000;
    --blanco: #fff;
    --bg-color: #0a1121;
    --darkIcon-color: #000;
    --morado: #d103ffd3;
    --celeste: #18f0ffca;
    --second-color: #a1a1aa;
    --bg-contain-text: #1a1c37;
    --code: #18f0ff09;
    --card: #12192c;
  }
  .theme-dark{
    --text-color: #ffff;
    --bg-color: #ffffff!important;
    --darkIcon-color: #fff;
    --morado: #d103ffb9;
    --celeste: #18f0ffbc;
    --second-color: #685f78;
    --blanco: #000;
    --code: #1a1c37;
    --card: #1a1c37;
  }
  
  
.contain-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-items: center;
  place-content: center;
  flex-direction: column;
  width: 100%;
  padding: 50px 0%;
  background-color: var( --bg-color);
  padding-top: 130px;
}

.Footer-contain{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    place-content: center;
    height: 100%;
    width: 100%;
    border-radius:50px ;
    padding: 10px 0%;
    gap: 5rem;
   
}

.Footer-links a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    color: var( --blanco)!important;
    padding: 1px;
}
.Footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: var(  --blanco);
}

.Footer-links h4{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 19px;
}


.logo{
    padding: 10px 0%;
}


.redes-sociales-footer{
    padding: 10px;
    gap: 1rem;
    display: flex;
    font-size: 20px;
}

.footer-footer{
    padding-top: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 26%;
    width: 100%;
}
.footer-footer p{
    color: var(--second-color);
}
.contain-footer hr{
    width: 65%;
    border: 1px solid var(--celeste);
    margin-top: 20px;
}

.redes-socialesf{
    display: flex;
    gap: 1rem;
    font-size: 16px;
}
.redes-socialesf i{

    color: var(--second-color);
}
.redes-socialesf i:hover{

    color: var(--celeste);
}
@media (max-width: 500px){
    .Footer-contain{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        place-content: center;
        height: 100%;
        width: 100%;
        border-radius:50px ;
        padding: 150px 0%;
        gap: 5rem;
       
    }
    .footer-footer{
        flex-direction: column;
    }
    .footer-footer p{
        padding: 0px 10%;
        text-align: center;
    }
}